/* General Styles */
body {
    font-family: "Droid Arabic Kufi";
    margin: 0;
    padding: 0;
    direction: rtl;
    text-align: right;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.content {
    flex-grow: 1;
}

/* Navbar Styles */
.navbar {
    font-family: "Droid Arabic Kufi", Sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px 50px;
    border-bottom: 1px solid #eee;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    font-weight:700;
    
}


.logo img {
    width: 150px;
}

.nav-links {
    display: flex;
    list-style-type: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.social-icons {
    display: flex;
}

.social-icons a img {
    width: 25px;
    margin-left: 15px;
}
/* Dropdown Menu Styles */
.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 0; 
    background-color: #fff;
    border-top: #000 solid transparent ;
    border: 1px solid #eee;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    padding: 10px 0;
    z-index: 1000;

}

.dropdown-menu li {
    padding: 10px 20px;
    white-space: nowrap;
    
}

.dropdown-menu li a {
    text-decoration: none;
    color: #000;
    display: block;
    font-size: 16px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
/* Underline on Hover for Nav Items */
.nav-links li {
    position: relative;
}

.nav-links li::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #000; 
    right: 0;
    bottom: -5px; 
    transition: width 0.3s ease-in-out; 
}

.nav-links li:hover::after {
    width: 100%;
    left: 0;
    right: auto;
}


/* Footer Styles */
.footer {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    color: #fff;
    padding: 40px 50px;
    flex-shrink: 0;
}

.footer-section {
    flex: 1;
    margin: 0 20px;
}

.footer-section h4 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-section p, .footer-section a {
    font-size: 16px;
    color: #aaa;
    text-decoration: none;
}

.footer-section a:hover {
    color: #fff;
}

.footer-section p {
    margin: 5px 0;
}
